@model IEnumerable<Product>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <img src="@item.ImageUrl" class="card-img-top" alt="@item.Name">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text">@item.Price.ToString("C")</p>
                    <a href="@Url.Action("Details", "Shop", new { id = item.Id })" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    }
</div>
